
<div class = "main" >
  <nav>
    <div class="nav-wrapper" >
      <a href="/profile" class="brand-logo"><img src="http://www.devicelab.com.br/img/logo.png" alt="Smiley face" style="margin-left: 10px" height="30" width="160"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a>Ultimo acesso: {{ultimoAcesso | amDateFormat:'LL'}}</a></li>
        <li><a>Bem vindo, {{nomeDoUsuario}}!</a></li>
        <li><a (click) = "logout()">Sign out</a></li>
      </ul>
    </div>
  </nav>

  <div class="center-align">
    <h3> Essa é sua tela de perfil <br> Seja bem vindo!</h3>
    <ngx-loading [show]="loading" ></ngx-loading>
  </div>   
   
</div>
<div class = "main" >
  <nav>
    <div class="nav-wrapper" >
      <a href="/profile" class="brand-logo"><img src="http://www.devicelab.com.br/img/logo.png" alt="Smiley face" style="margin-left: 10px" height="30" width="160"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a>Ultimo acesso: {{ultimoAcesso | amDateFormat:'LL'}}</a></li>
        <li><a>Bem vindo, {{nomeDoUsuario}}!</a></li>
        <li><a (click) = "logout()">Sign out</a></li>
      </ul>
    </div>
  </nav>

  <div class="center-align">
    <div class="row">
      <h3> Essa é sua tela de perfil <br> Seja bem vindo!</h3>
      <ngx-loading [show]="loading" ></ngx-loading>
    </div>
  </div>   
   
</div>