nav{
    background-color: #323231
}

.profile{
    width:100%;
    position: relative;
    height: auto;
}

h3 { 
    position: absolute; 
    top: 30%; 
    left: 0; 
    width: 100%; 
    color: white;
    font-family: Ubuntu
 }

