
  <div class="row container center-align">
    <!-- <div class="row">
      <form class="col s12 m12 l12 xl12">
        <div class="row">
            <img src="http://www.devicelab.com.br/img/logo.png" width="160" height="30" alt="DeviceLab">
          <div class="input-field col s12  m12 l12 xl12">
            <input id="email" type="email" >
            <label for="email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12  m12 l12 xl12">
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-red " type="submit" name="action">Submit
              </button>
          </div>
      </form>
    </div> -->
  </div>